@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat',sans-serif;
    overflow-x: hidden;
  }
  
  .container {  
    margin: 0 auto;
    padding-top: 2rem;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  
  .flex {
    display: flex;
  }
  
  .space-x-20 {
    gap: 5rem;
  }
  
  .items-center {
    align-items: center;
  }
  
  .section-1, .section-5 {
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }

  .section-1-1{
    left: 13rem;
  }

  .section-2{
    left: 9.70rem;
    margin-top: 17rem;
  }

 .section-7{
    margin-left: 1.5rem;
    margin-top: 13rem;
  }

  .section-6{
    margin-top: 5rem;
  }

  .section-6,.section-7{
    left: -12rem;
  }
  
  .title {
    font-size: 1.1rem;
    margin-bottom: 0.25rem;
  }
  
  .subtitle {
    font-size: 1rem;
    width: 16rem;
    font-weight: 400;
    text-align: center;
    color: #6B7280; /* Equivalent to text-gray-500 */
    margin-top: 1rem;
  }
  
  .relative {
    position: relative;
  }

  .absolute{
    position: absolute;
  }
  
  .image-1 {
    top: 0.5rem;
    left: 12rem;
  }
  
  .image-2 {
    top: 0.75rem;
    left: 12.25rem;
  }
  
  .image-3 {
    top: 0.25rem;
    left: 14.25rem;
  }
  
  .image-4 {
    top: 0.5rem;
    left: 14.5rem;
  }
  
  .image-5 {
    top: 0.5rem;
    left: -4rem;
  }
  
  .image-6 {
    top: 0.75rem;
    left: -3.75rem;
  }
  
  .image-7 {
    top: 0.5rem;
    left: 1.5rem;
  }

  .image-8 {
    top: 13rem;
    left: 8rem;
  }
  
  .image-9 {
    margin-top: -6rem;
    margin-left: -6.25rem;
  }
  
  .rotate-image {
    top: 14%;
    left: 14.5%;
    position: absolute;
    animation: spin 20s linear infinite;
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }

  @media screen and (max-width: 1000px) {

    .rotate-image{
        height: 352px;
        width: 452px;
        left: 5%;
    }
    .image-1{
        left: 9rem;
    }
    .image-2{
        left: 9.25rem;
    }
    .image-3{
        left: 10rem;
    }
    .image-4{
        left: 10.25rem;
    }
    .image-5{
        top: 0.75rem;
        left: -1rem;
    }
    .image-6{
        top: 1rem;
        left: -0.75rem;
    }
    .image-7{
        top: 0.5rem;
        left: -1.5rem;
    }
    .image-9{
        top: 6.75rem;
        left: 5rem;
    }
    .image-10{
        height: 500px;
        width: 500px;
        left: 0;
    }
    .image-8{
        top: 11rem;
        left: 19%;
        height: 170px;
        width: 300px;
    }
    .subtitle {
        font-size: 0.7rem;
        width: 10rem;
    }
    .title{
        font-size: 0.9em;
    }
    .section-1-1{
        top: -5rem;
        left: 15rem;
    }
    .section-2{
        margin-top: 14rem;
        left: 15rem;
    }
    .section-6{
        margin-top: -0.5rem;
        left: -15rem;
    }
    .section-7{
        top: 5rem;
        left: -15rem;
    }
  }